{% load dag_tags %}
<body>
<head>
  <style type="text/css">
    body {
      font-family: Verdana, arial, sans-serif;
    }
    h1 {
      font-size: 110%;
    }
    h2 {
      font-size: 105%;
      background-color: #ddd;
    }
    h3 {
      font-size: 100%;
    }
   </style>
</head>
<body>
<h1>Tree test view for DAG</h1>

{% for dag_instance in dag_list %}
<h2>{{ dag_instance }}</h2>
{% if dag_instance.is_root %}
<h3>Descendants</h3>
{% recursedict dag_instance.descendants_tree %}
    <ul>
    {% loop %}
        <li>{% if key %}<b>{{ key }}</b>&nbsp;{% endif %}{% value %}</li>
    {% endloop %}
    </ul>
{% endrecursedict %}
{% endif %}

{% if dag_instance.is_leaf %}
<h3>Ancestors</h3>
{% recursedict dag_instance.ancestors_tree %}
    <ul>
    {% loop %}
        <li>{% if key %}<b>{{ key }}</b>:&nbsp;{% endif %}{% value %}</li>
    {% endloop %}
    </ul>
{% endrecursedict %}
{% endif %}
{% endfor %}
</body>
</html>